body {
  background-color: #a278db;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 5vh;
    .header {
      font-family: monospace !important;
      font-size: 3em;
    }
    .nameContainer {
      position: relative;
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      gap: 0.5em;
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      font-size: 7.5em;
      font-weight: 700;
      line-height: 1em;
      .abjective {
        color: #33fba7;
      }
      .animal {
        color: #fba733;
      }
    }
    .randomiseButton {
      /* This shiny button comes from:  */
      display: inline-block;
      position: relative;
      background-color: #aaa;
      background-image: linear-gradient(
        hsla(0, 0%, 100%, 0.6),
        hsla(0, 0%, 100%, 0) 50%,
        hsla(0, 0%, 0%, 0.3) 50%,
        hsla(0, 0%, 100%, 0.2)
      );
      font-size: 22px;
      font-family: sans-serif;
      font-weight: bold;
      color: white;
      padding: 20px 40px;
      text-shadow: 0 0 15px hsla(0, 0%, 100%, 1), 0 2px 4px hsla(0, 0%, 0%, 0.7);
      border: none;
      border-radius: 50px;
      margin: 10px;
      box-shadow: inset 0 -5px 20px hsla(0, 0%, 0%, 0.4),
        inset 0 5px 20px hsla(0, 0%, 100%, 0.4),
        -8px 8px 5px hsla(0, 0%, 0%, 0.15), 5px 18px 10px hsla(0, 0%, 0%, 0.2);
      cursor: pointer;
      transition: transform 0.1s, box-shadow 0.1s;
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 20px;
        right: 20px;
        top: 5px;
        height: 30px;
        border-radius: 15px;
        background: linear-gradient(
          hsla(0, 0%, 100%, 0.8),
          hsla(0, 0%, 100%, 0)
        );
      }

      background-color: #e21;

      &:hover {
        transform: scale(1.05);
        box-shadow: inset 0 -5px 20px hsla(0, 0%, 0%, 0.4),
          inset 0 5px 20px hsla(0, 0%, 100%, 0.4),
          -12px 12px 5px hsla(0, 0%, 0%, 0.15),
          10px 25px 10px hsla(0, 0%, 0%, 0.2);
      }
    }
  }
}
